.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries
.idea/libraries
.idea/shelf
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/compiler.xml
.idea/modules.xml
.idea/misc.xml
*.iws
*.iml
*.ipr

.gradle/
build/
**/build/
reports/
test-results/
distribution/
tmp/
!gradle/wrapper/gradle-wrapper.jar

local.properties
.cxx/
*.apk
*.aab
*.ap_
*.dex
captures/
externalNativeBuild/

*.kexe
*.pexe
*.klib
.kotlin/

*.mode1v3
*.mode2v3
*.perspectivev3
*.quser
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

Pods/
Podfile.lock

.swiftpm/

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

hs_err_pid*
replay_pid*
